@charset "UTF-8";

@font-face {
  font-family: "boatday-icons";
  src:url("../fonts/boatday-icons.eot");
  src:url("../fonts/boatday-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/boatday-icons.woff") format("woff"),
    url("../fonts/boatday-icons.ttf") format("truetype"),
    url("../fonts/boatday-icons.svg#boatday-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "boatday-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bd-"]:before,
[class*=" bd-"]:before {
  font-family: "boatday-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bd-camera-plus:before {
  content: "a";
}
.bd-pin:before {
  content: "b";
}
.bd-exclamation:before {
  content: "c";
}
.bd-speech-bubble:before {
  content: "d";
}
.bd-calendar:before {
  content: "e";
}
.bd-cross:before {
  content: "f";
}
.bd-trash:before {
  content: "g";
}
.bd-pen:before {
  content: "h";
}
.bd-mail:before {
  content: "i";
}
.bd-question:before {
  content: "j";
}
.bd-plus:before {
  content: "k";
}
.bd-pen-plus:before {
  content: "l";
}
.bd-map:before {
  content: "m";
}
.bd-1:before {
  content: "n";
}
.bd-more:before {
  content: "o";
}
.bd-menu:before {
  content: "p";
}
.bd-sign-out:before {
  content: "q";
}
.bd-marker:before {
  content: "r";
}
.bd-list:before {
  content: "t";
}
.bd-chevron-left:before {
  content: "u";
}
.bd-calendar-day:before {
  content: "v";
}
.bd-check:before {
  content: "w";
}
.bd-picture:before {
  content: "z";
}
.bd-home:before {
  content: "A";
}
.bd-address:before {
  content: "B";
}
.bd-2:before {
  content: "C";
}
.bd-navigate:before {
  content: "D";
}
.bd-arrow-right:before {
  content: "E";
}
.bd-bell:before {
  content: "F";
}
.bd-chevron-bottom:before {
  content: "G";
}
.bd-clock:before {
  content: "H";
}
.bd-lock:before {
  content: "I";
}
.bd-person-plus:before {
  content: "J";
}
.bd-person:before {
  content: "K";
}
.bd-smartphone:before {
  content: "L";
}
.bd-heart:before {
  content: "M";
}
.bd-chevron-right:before {
  content: "N";
}
.bd-spyglass:before {
  content: "O";
}
.bd-sliders:before {
  content: "P";
}
.bd-twitter:before {
  content: "Q";
}
.bd-clock-thin:before {
  content: "R";
}
.bd-share:before {
  content: "S";
}
.bd-3:before {
  content: "T";
}
.bd-facebook:before {
  content: "U";
}
.bd-cork:before {
  content: "V";
}
.bd-arrow-left:before {
  content: "x";
}
.bd-drawer:before {
  content: "y";
}
.bd-star:before {
  content: "W";
}
.bd-star-empty:before {
  content: "X";
}
.bd-location:before {
  content: "Y";
}
.bd-instagram:before {
  content: "s";
}
.bd-web:before {
  content: "Z";
}
.bd-chevron-top:before {
  content: "0";
}
.bd-money:before {
  content: "1";
}
.bd-emergency:before {
  content: "2";
}
.bd-phone:before {
  content: "3";
}
.bd-uber:before {
  content: "4";
}
