$enable-flex: true;
$enable-rounded: false;
$grid-columns: 24;

$body-bg: #292c2e;
$body-color: #73879C;
$brand-primary: #36b4c6;

$lead-font-weight: 500;
$headings-font-weight: 300;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-family-base: "Avenir Book", $font-family-sans-serif;